/* main */

.container {
    margin-top: 15rem;
}

.weather--card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 45rem;
    padding:  1em;
    border-radius: 10px;
    margin: 0 auto
}

.location--card {
    margin: 0 auto
 }
 
 .location--wrapper {
    display: flex;
    justify-items: space-evenly;
 }
 
/* button items */

 .btn-success {
    background-color:white ;
    color: black;
    width: 20rem;
    border-color: grey;
    margin-top: 0.4rem;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
 }

 .btn {
     text-align: left;
 }

 .dropdown-toggle::after {
     margin-top: 0.6rem;
 }
 
 .dropdown {
     margin-left: 2rem
 }

 .dropdown-menu.show {
     width: 20rem;
     margin-top: 30px
 }

 /* image styling */

.img--component {
    margin-left: 6rem;
}

/* text styling */

.title--component {
    text-align: center;
    margin-bottom: 2rem;
    font-family: "Times New Roman", Times, serif;
}

.description--container {
    font-weight: 600;
}